@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
  margin: 0;
  padding: 0;
  background: #9c774b;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 17px;
  color: #fff;
}
.cabecera{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}
h1{
  color: #fff;
  transform: skew(0, -5deg);
  text-shadow: 0 0 20px rgb(106, 212, 57);
  font-size: 2.5rem;
  padding: 0.2em;
}  
button{
  padding: 0.5em;
  font-size: 18px;
  margin: 1em ;
  cursor: pointer;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: #14285e;
  border: 100;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
}
button:hover, button:focus{
  outline: 0;
  top: 2px;
  background: #63A063;
  transition: 0.2s ease-in-out;
 }
button:active{
  outline: 0;
  top: 8px;
}